# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env

# Node
frontend/node_modules/
frontend/dist/
frontend/.npm/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database logs/backups
*.sqlite3
*.log
